.container {
    border: 1px solid red;
    font-family: monospace;
}

.new_p {
    margin: 0;
    font-size: .85em;
}

h4 {
    margin-top: .5rem;
}

.our_gen_el {
    margin-bottom: 0;
}

span {
    display: block;
    margin-top: -5px;
    font-weight: 200;
    font-size: .85em;
}

.row {
    justify-content: space-evenly;
}

.cal-3 {
    flex: 0 0 25%;
    max-width: 24.4%;
    margin: 2px 0;
}

.card-body_upd {
    flex: 1 1 auto;
    min-height: 1px;
}

.card-header a {
    font-size: 1.18em;
}

.block, .block_gen {
    margin: 0;
    height: 31px;
    line-height: 250%;
}

.block {
    font-weight: 600;
}

.block_gen {
    padding-left: 10px;
    border-left: 1px solid rgb(208, 206, 206);
}
