{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{% static 'zvk_getter/css/gen_bs.css' %}">
    <title>Apps</title>
  </head>
  <body>


<div class="container">
    <h1>Data from file</h1>
    <div class="row">
    {% for o in our %}
        <div class="card cal-3">
            <div class="card-header">
                {{ o }}
            </div>
            <div class="card-body">
            {% for el in data %}
                {% for key, val in el.items %}

                    {% if o == val.subject %}
                        <p class="block">{{ val.self_number }} - {{ val.equipment }} <b>{{ val.repair_type }}</b></p>
                        <span>{{ val.end_date }}</span>
                    {% endif %}

                {% endfor %}
            {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>

    <h1>Data from models</h1>
    <div class="row">
        {% for station in stations %}
        <div class="card cal-3">
            <div class="card-header">
                <a href="{{ station.get_absolute_url }}">{{ station.title }}</a>
            </div>
            <div class="card-body_upd">
                <table class="table">
                    <tbody>
                    {% for block in blocks %}
                        {% if block.station == station %}
                            <tr>
                                <td>
                                    <p class="block">
                                        {% if block.zvk_name != 'NU' %}
                                            {{ block.zvk_name }}
                                        {% else %}
                                            {{ block.title }}
                                        {% endif %}
                                    </p>

                                    {% for generator in generators %}
                                        {% if generator.block == block %}
                                            <p class="block_gen">{{ generator.title }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </td>

                                <td>
                                    <div class="dropdown">
                                      <button class="btn btn-light w-75 dropdown-toggle btn-sm" type="button"
                                              data-toggle="dropdown" aria-expanded="false">
                                        {{ block.main_condition }}
                                      </button>
                                      <div class="dropdown-menu">
                                          {% for condition, explain in block.main_condition_choices %}
                                            <a class="dropdown-item" href="#">{{ condition }}</a>
                                          {% endfor %}
                                      </div>
                                    </div>
                                    {% for generator in generators %}
                                        {% if generator.block == block %}
                                            <div class="dropdown">
                                              <button class="btn btn-light w-75 dropdown-toggle btn-sm" type="button"
                                                      data-toggle="dropdown" aria-expanded="false">
                                                {{ generator.main_condition }}
                                              </button>
                                              <div class="dropdown-menu">
                                                {% for condition, explain in generator.main_condition_choices %}
                                                    <a class="dropdown-item" href="#">{{ condition }}</a>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  </body>
</html>